<style type="text/css">
.head {
  font-size: 18px;
}

.tag {
  margin: 6px;
}

.first {
  height: 51px;
}

</style>
<div class="row" style="height: 140px;margin-top: -30px;background-image: url('images/logo.jpg');">
  <div class="col-md-12"></div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-md-offset-2" style="background-color: white;">
      <div class="list-group" style="border: 1px solid #DEE5EB;margin: 15px 0px 0px -15px;border-radius: 4px;height: 500px;">
        <ul class="list-group">
          <li class="list-group-item first active" style="font-size: 18px;" >全部分类</li>
          <li class="list-group-item first active"><span class="head ">学生会</span><span class="tag ">街舞社</span><span class="tag ">街舞社</span><span class="tag ">街舞社</span><span>...</span></li>
          <li class="list-group-item first active"><span class="head ">文学社团</span><span class="tag ">街舞社</span><span class="tag ">街舞社</span><span class="tag ">街舞社</span><span>...</span></li>
          <li class="list-group-item first active"><span class="head ">运动社团</span><span class="tag ">街舞社</span><span class="tag ">街舞社</span><span class="tag ">街舞社</span><span>...</span></li>
          <li class="list-group-item first active"><span class="head ">记者协会</span><span class="tag ">街舞社</span><span class="tag ">街舞社</span><span class="tag ">街舞社</span><span>...</span></li>
          <li class="list-group-item first active"><span class="head ">学术理论</span><span class="tag ">街舞社</span><span class="tag ">街舞社</span><span class="tag ">街舞社</span><span>...</span></li>
          <li class="list-group-item first active"><span class="head ">艺术类</span><span class="tag ">街舞社</span><span class="tag ">街舞社</span><span class="tag ">街舞社</span><span>...</span></li>
          <li class="list-group-item first active"><span class="head ">公益类</span><span class="tag ">街舞社</span><span class="tag ">街舞社</span><span class="tag ">街舞社</span><span>...</span></li>
          <li class="list-group-item first active"><span class="head ">舞蹈类</span><span class="tag ">街舞社</span><span class="tag ">街舞社</span><span class="tag ">街舞社</span><span>...</span></li>
          <li class="list-group-item first active"><span class="head ">兴趣类</span><span class="tag ">街舞社</span><span class="tag ">街舞社</span><span class="tag ">街舞社</span><span>...</span></li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 " style="background-color: white;">
      <div  style="margin: 15px -15px 0px 0px;border-radius: 4px;height: 500px; ">
      	<carousel pictures='[{url:"images/carousel1.jpeg ",active: true},{url:"images/carousel2.jpg ",active: false},{url:"images/carousel3.jpg ",active: false}]'></carousel>
      </div>
    </div>
  </div>
  <div class="row ">
  	<div class="col-md-4 col-md-offset-2 " style="background-color: white;">
      <div style="border: 1px solid #DEE5EB;margin: 15px 0px 0px -15px;border-radius: 4px;height: 300px; ">
       <ul>
       	<li style="list-style: none;margin-top: 20px;margin-left: -10px; font-size: 25px;">活动中心</li>
       	<li style="margin: 10px 0px;"><span >街舞纳新了...</span></li>
       	<li style="margin: 10px 0px;"><span >街舞纳新了...</span></li>
       	<li style="margin: 10px 0px;"><span >街舞纳新了...</span></li>
       	<li style="margin: 10px 0px;"><span >街舞纳新了...</span></li>
       	<li style="margin: 10px 0px;"><span >街舞纳新了...</span></li>
       	<li style="margin: 10px 0px;"><span >街舞纳新了...</span></li>
       	<li style="margin: 10px 0px;"><span >街舞纳新了...</span></li>
       </ul>
      </div>
    </div>
    <div class="col-md-4 " style="background-color: white;">
      <div style="border: 1px solid #DEE5EB;margin: 15px -15px 0px 0px;border-radius: 4px;height: 300px; ">
      	<ul>
       	<li style="list-style: none;margin-top: 20px;margin-left: -10px; font-size: 25px;">新闻公告</li>
       	<li style="margin: 10px 0px;"><span >街舞纳新了...</span></li>
       	<li style="margin: 10px 0px;"><span >街舞纳新了...</span></li>
       	<li style="margin: 10px 0px;"><span >街舞纳新了...</span></li>
       	<li style="margin: 10px 0px;"><span >街舞纳新了...</span></li>
       	<li style="margin: 10px 0px;"><span >街舞纳新了...</span></li>
       	<li style="margin: 10px 0px;"><span >街舞纳新了...</span></li>
       	<li style="margin: 10px 0px;"><span >街舞纳新了...</span></li>
       </ul>
      </div>
    </div>
  </div>
</div>
