<div class="row" style="height: 140px;margin-top: -30px;background-image: url('images/logo.jpg');">
  <div class="col-md-12"></div>
</div>
<div class="container" style="background-color: white;">
  <div class="row">
    <div class="col-md-12">
      <div style="margin-top: 20px;">
        <span>location</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div style="background-color:rgb(22,69,69);">
        <div style="color:rgb(43,255,254); margin: 50px;font-size: 40px;">社团介绍</div>
      </div>
      <div>
        <p style="font-size: 20px;">
          毕业交流诉情愫，传承经验促进步。6月1日上午，文学院在院报告厅举办了2013级优秀学生干部欢送交流会。文学院党委副书记高飞，2013级辅导员张坤、苏梦瑶，2014级辅导员李娟，2015级辅导员荆恒磊出席会议。2013级优秀学生干部及2014级、2015级学生骨干代表共同参加会议。文学院团委书记、2016级辅导员王秀杰主持活动。 交流会上，高书记首先代表全体老师向毕业生表示衷心的祝贺。他结合自己的工作和生活经验给毕业生提出几点建议：一是学会“重新开始”。要学会忘记大学时代的成绩，在新的岗位上保持自我、追求卓越；二是要发挥自己的专业特色。，
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div style="background-color:rgb(22,69,69);">
        <div style="color:rgb(43,255,254); margin: 50px;font-size: 40px;">成员介绍</div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div style="border-radius: 45px;height: 100px;width: 100px;background-color: black;margin-top: 40px;margin-right: 0px;"></div>
        </div>
        <div class="col-md-4">
          <p style="margin-top: 15px;">会上，高书记首先代表全体老师向毕业生表示衷心的祝贺。他结合自己的工作和生活经验给毕业生提出几点建议：一是学会“重新开始”。要学会忘记大学时代的成绩，在新的岗位上保持自我、追求卓越；二是要发挥自己的专业特色。</p>
        </div>
        <div class="col-md-2">
          <div style="border-radius: 45px;height: 100px;width: 100px;background-color: black;margin-top: 40px;margin-right: 0px;"></div>
        </div>
        <div class="col-md-4">
          <p style="margin-top: 15px;">会上，高书记首先代表全体老师向毕业生表示衷心的祝贺。他结合自己的工作和生活经验给毕业生提出几点建议：一是学会“重新开始”。要学会忘记大学时代的成绩，在新的岗位上保持自我、追求卓越；二是要发挥自己的专业特色。</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div style="border-radius: 45px;height: 100px;width: 100px;background-color: black;margin-top: 40px;margin-right: 0px;"></div>
        </div>
        <div class="col-md-4">
          <p style="margin-top: 15px;">会上，高书记首先代表全体老师向毕业生表示衷心的祝贺。他结合自己的工作和生活经验给毕业生提出几点建议：一是学会“重新开始”。要学会忘记大学时代的成绩，在新的岗位上保持自我、追求卓越；二是要发挥自己的专业特色。</p>
        </div>
        <div class="col-md-2">
          <div style="border-radius: 45px;height: 100px;width: 100px;background-color: black;margin-top: 40px;margin-right: 0px;"></div>
        </div>
        <div class="col-md-4">
          <p style="margin-top: 15px;">会上，高书记首先代表全体老师向毕业生表示衷心的祝贺。他结合自己的工作和生活经验给毕业生提出几点建议：一是学会“重新开始”。要学会忘记大学时代的成绩，在新的岗位上保持自我、追求卓越；二是要发挥自己的专业特色。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div style="background-color:rgb(22,69,69);">
        <div style="color:rgb(43,255,254); margin: 50px;font-size: 40px;">社团活动</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" style="border: 1px solid #DEE5EB;border-radius: 4px;height: 190px;"></div>
    <div class="col-md-6" style="border: 1px solid #DEE5EB;border-radius: 4px;height: 190px;"></div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p style="margin-top: 15px;">
        会上，高书记首先代表全体老师向毕业生表示衷心的祝贺。他结合自己的工作和生活经验给毕业生提出几点建议：一是学会“重新开始”。要学会忘记大学时代的成绩，在新的岗位上保持自我、追求卓越；二是要发挥自己的专业特色
      </p>
    </div>
    <div class="col-md-6">
      <p style="margin: 15px;">会上，高书记首先代表全体老师向毕业生表示衷心的祝贺。他结合自己的工作和生活经验给毕业生提出几点建议：一是学会“重新开始”。要学会忘记大学时代的成绩，在新的岗位上保持自我、追求卓越；二是要发挥自己的专业特色</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div style="background-color:rgb(22,69,69);">
        <div style="color:rgb(43,255,254); margin: 50px;font-size: 40px;">加入社团</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p style="margin: 15px;">会上，高书记首先代表全体老师向毕业生表示衷心的祝贺。他结合自己的工作和生活经验给毕业生提出几点建议：一是学会“重新开始”。要学会忘记大学时代的成绩，在新的岗位上保持自我、追求卓越；二是要发挥自己的专业特色</p>
      <button type="button" class="btn btn-info" style="float: right;">申请加入</button>
    </div>
  </div>
</div>
