<style type="text/css">
   
        .box6::-webkit-scrollbar {
            width: 10px;
        }
        
        .box6::-webkit-scrollbar-track {
            border-radius: 5px;
            background-color: white;
        }
        
        .box6::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background: #d9d9d9;
        }
</style>
<div class="row" style="height: 140px;margin-top: -30px;background-image: url('images/logo.jpg');">
  <div class="col-md-12"></div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-md-offset-3" style="background-color: white;">
      <div class="list-group" style="border: 1px solid #DEE5EB;border-radius: 4px;margin: 15px 0px 0px -15px;">
        <a href="#" class="list-group-item active" style="height: 60px;">
        内部消息</a>
        <a href=" # " class="list-group-item " style="height: 60px; ">外部消息</a>
        <a href="# " class="list-group-item " style="height: 60px; ">社团成员 </a>
        <a href="# " class="list-group-item " style="height: 60px; ">社团信息</a>
        <a href="# " class="list-group-item " style="height: 60px; ">申请通知</a>
        <a href="# " class="list-group-item " style="height: 60px; ">文件管理</a>
        <a href="# " class="list-group-item " style="height: 60px; ">设置权限</a>
        <a href="# " class="list-group-item " style="height: 60px; ">人员管理</a>
        <a href="# " class="list-group-item " style="height: 60px; ">社团设置</a>
        <a href="# " class="list-group-item " style="height: 60px; ">关于我们</a>
      </div>
    </div>
    <div class="col-md-4 " style="background-color: white;">
      <div class="box6" style="border: 1px solid #DEE5EB;border-radius: 4px;height: 592px;overflow-y:scroll; margin: 15px -15px 0px 0px;">
        <div style="height: 1000px;"></div>
      </div>
    </div>
  </div>
</div>
